body {
  margin: 0 auto;
  width: 1000px;
  background-color: rgb(140, 150, 160);
}
main {
  background-color: rgb(8, 99, 38);
}
header {
  margin-bottom: 100px;
}
img {
    height: 250px;
    width: 250px;
    display: inline-block;
}
